@tailwind base;
@tailwind components;
@tailwind utilities;

.token {
  @apply sm:w-16 sm:h-16 w-12 h-12;
}

.board-bg {
  background-image: url("../assets/background-blur.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.board-section {
  @apply flex justify-center p-4 md:p-8 mt-32;
}

.board {
  @apply flex flex-col text-gray-900 dark:text-white;
}

/* body,
html,
#app {
  @apply h-full;
} */
